header {
    height: 100px;
    color: white;
    background-color:#041d5e;
    text-align: center;
}

h1 {
    line-height: 100px;
}

/* .hidden {
    visibility: hidden;
} */

.current-stats {
    font-size: 20px;
}
#uv-value{
    background-color: green;
}

.weather-icon {
    width: 70px;
    height: 70px;
}

li {
    cursor: pointer;
}

.weekly {
    color: white;
    background-color:#2f80b6;
    padding-top:20px;
}

.weekly p{
    font-size:14px;
}

.form-inline .form-control {
    width: 60%;
}


@media (max-width: 767px) {
    .form-inline .form-control {
    display: inline-block;
    width: 60%;
    vertical-align: middle;
    }
}
